# AWS Cloud Configuration
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_S3_BUCKET_NAME=matrix-building-assets-715616248593-ap-southeast-1

# Amazon RDS PostgreSQL Database
DATABASE_URL=postgresql://matrix_admin:your_secure_password@production-matrix-stack-rdsinstance-qhvwosn5lz2s.c1aq20w2ajsr.ap-southeast-1.rds.amazonaws.com:5432/matrix_production

# App Domain & Production URL
NEXT_PUBLIC_PLATFORM_DOMAIN=collegelms.com
NEXT_PUBLIC_APP_URL=https://main.d19bya2t6nfjsj.amplifyapp.com
